Repository ReagentX/imessage-exporter, pull requests merged in 2022-07, with the labels that each got.

#11 Feat/cs/dump txt
  .gitignore
  Cargo.lock
  README.md
  imessage-database/src/lib.rs
  imessage-database/src/message_types/expressives.rs
  imessage-database/src/message_types/mod.rs
  imessage-database/src/message_types/variants.rs
  imessage-database/src/tables/attachment.rs
  imessage-database/src/tables/chat.rs
  imessage-database/src/tables/chat_handle.rs
  imessage-database/src/tables/handle.rs
  imessage-database/src/tables/messages.rs
  imessage-database/src/tables/mod.rs
  imessage-database/src/tables/table.rs
  imessage-database/src/util/dates.rs
  imessage-database/src/util/dirs.rs
  imessage-database/src/util/mod.rs
  imessage-database/src/util/output.rs
  imessage-exporter/Cargo.toml
  imessage-exporter/src/app/mod.rs
  imessage-exporter/src/app/options.rs
  imessage-exporter/src/app/progress.rs
  imessage-exporter/src/app/runtime.rs
  imessage-exporter/src/exporter/exporter.rs
  imessage-exporter/src/exporter/txt.rs
  imessage-exporter/src/exporters/exporter.rs
  imessage-exporter/src/exporters/mod.rs
  imessage-exporter/src/exporters/txt.rs
  imessage-exporter/src/main.rs
Labels: txt, new feature

#13 Fix doc formatting of Attachments
  docs/tables/attachment.md
Labels: documentation, crate: database

#16 Remove unused csv mentions
  README.md
  docs/binary/README.md
  imessage-exporter/src/app/options.rs
  imessage-exporter/src/app/runtime.rs
Labels: documentation

#17 Scaffold out PDF exporter
  Cargo.lock
  README.md
  docs/binary/README.md
  imessage-database/src/tables/messages.rs
  imessage-exporter/src/app/options.rs
  imessage-exporter/src/app/runtime.rs
  imessage-exporter/src/exporters/exporter.rs
  imessage-exporter/src/exporters/html.rs
  imessage-exporter/src/exporters/resources/example.html
  imessage-exporter/src/exporters/resources/style.css
  imessage-exporter/src/exporters/txt.rs
Labels: exporter, html, new feature

#20 Feat/cs/copy files
  Cargo.lock
  README.md
  docs/hero.png
  imessage-database/src/tables/attachment.rs
  imessage-exporter/Cargo.toml
  imessage-exporter/src/app/converter.rs
  imessage-exporter/src/app/mod.rs
  imessage-exporter/src/app/runtime.rs
  imessage-exporter/src/exporters/exporter.rs
  imessage-exporter/src/exporters/html.rs
  imessage-exporter/src/exporters/resources/attachments/bella.jpeg
  imessage-exporter/src/exporters/resources/attachments/shark.png
  imessage-exporter/src/exporters/resources/attachments/tall.jpeg
  imessage-exporter/src/exporters/resources/example.html
  imessage-exporter/src/exporters/resources/style.css
  imessage-exporter/src/exporters/txt.rs
Labels: crate: cli, exporter, new feature
