Repository ReagentX/imessage-exporter, pull requests merged in 2023-04, with the labels that each got.

#108 Feat/cs/coyote mint fixes
  Cargo.lock
  README.md
  imessage-database/Cargo.toml
  imessage-database/src/util/dates.rs
  imessage-exporter/Cargo.toml
  imessage-exporter/README.md
  imessage-exporter/src/exporters/html.rs
  imessage-exporter/src/exporters/txt.rs
Labels: documentation

#107 Coyote Mint
  Cargo.lock
  README.md
  imessage-database/Cargo.toml
  imessage-database/src/error/mod.rs
  imessage-database/src/message_types/variants.rs
  imessage-database/src/tables/attachment.rs
  imessage-database/src/tables/messages.rs
  imessage-database/src/tables/table.rs
  imessage-database/src/util/dates.rs
  imessage-database/src/util/plist.rs
  imessage-database/src/util/streamtyped.rs
  imessage-exporter/Cargo.toml
  imessage-exporter/README.md
  imessage-exporter/src/app/converter.rs
  imessage-exporter/src/app/options.rs
  imessage-exporter/src/app/runtime.rs
  imessage-exporter/src/app/sanitizers.rs
  imessage-exporter/src/exporters/html.rs
  imessage-exporter/src/exporters/txt.rs
Labels: crate: database, crate: cli, table, exporter, txt, html, new feature

#113 iOS cli option
  Cargo.lock
  imessage-database/src/tables/attachment.rs
  imessage-database/src/tables/chat.rs
  imessage-database/src/tables/chat_handle.rs
  imessage-database/src/tables/handle.rs
  imessage-database/src/tables/messages.rs
  imessage-exporter/Cargo.toml
  imessage-exporter/src/app/options.rs
  imessage-exporter/src/app/runtime.rs
  imessage-exporter/src/exporters/html.rs
  imessage-exporter/src/exporters/txt.rs
Labels: crate: database, crate: cli, new feature

#114 Feat/cs/ios db support
  Cargo.lock
  README.md
  imessage-database/Cargo.toml
  imessage-database/src/tables/attachment.rs
  imessage-database/src/tables/chat.rs
  imessage-database/src/tables/chat_handle.rs
  imessage-database/src/tables/handle.rs
  imessage-database/src/tables/messages.rs
  imessage-database/src/tables/table.rs
  imessage-database/src/util/dirs.rs
  imessage-database/src/util/mod.rs
  imessage-database/src/util/output.rs
  imessage-database/src/util/platform.rs
  imessage-exporter/README.md
  imessage-exporter/src/app/options.rs
  imessage-exporter/src/app/runtime.rs
  imessage-exporter/src/exporters/html.rs
  imessage-exporter/src/exporters/txt.rs
Labels: crate: database, crate: cli, table, txt, html, enhancement

#115 Feat/cs/restore deleted messages
  docs/faq.md
  imessage-database/src/tables/messages.rs
  imessage-database/src/tables/table.rs
  imessage-exporter/src/app/runtime.rs
  imessage-exporter/src/app/sanitizers.rs
  imessage-exporter/src/exporters/html.rs
  imessage-exporter/src/exporters/resources/style.css
  imessage-exporter/src/exporters/txt.rs
Labels: crate: database, crate: cli, table, txt, html, new feature

#116 Cliff Aster
  Cargo.lock
  README.md
  docs/faq.md
  imessage-database/Cargo.toml
  imessage-database/README.md
  imessage-database/src/tables/attachment.rs
  imessage-database/src/tables/chat.rs
  imessage-database/src/tables/chat_handle.rs
  imessage-database/src/tables/handle.rs
  imessage-database/src/tables/messages.rs
  imessage-database/src/tables/table.rs
  imessage-database/src/util/dirs.rs
  imessage-database/src/util/mod.rs
  imessage-database/src/util/output.rs
  imessage-database/src/util/platform.rs
  imessage-exporter/README.md
  imessage-exporter/src/app/options.rs
  imessage-exporter/src/app/runtime.rs
  imessage-exporter/src/app/sanitizers.rs
  imessage-exporter/src/exporters/html.rs
  imessage-exporter/src/exporters/resources/style.css
  imessage-exporter/src/exporters/txt.rs
Labels: crate: database, crate: cli, table, exporter, txt, html, new feature, enhancement
