Repository ReagentX/imessage-exporter, pull requests merged in 2023-08, with the labels that each got.

#149 Feat/cs/make handleid optional
  imessage-database/src/tables/messages.rs
  imessage-database/src/util/output.rs
  imessage-exporter/README.md
  imessage-exporter/src/app/runtime.rs
  imessage-exporter/src/exporters/html.rs
  imessage-exporter/src/exporters/txt.rs
Labels: bug, crate: database, crate: cli, table

#159 Feat/cs/link replies
  imessage-exporter/src/exporters/html.rs
  imessage-exporter/src/exporters/resources/style.css
Labels: crate: cli, new feature, enhancement

#160 Fix #156
  imessage-database/src/tables/attachment.rs
Labels: bug, crate: cli

#162 Making HTML slightly more proper and CSS fixup
  imessage-exporter/src/exporters/html.rs
  imessage-exporter/src/exporters/resources/style.css
Labels: crate: cli, html, enhancement
