Repository ReagentX/imessage-exporter, pull requests merged in 2024-09, with the labels that each got.

#333 Feat/cs/make chats handles deterministic
  imessage-database/src/tables/chat_handle.rs
  imessage-database/src/tables/handle.rs
  imessage-exporter/src/app/sanitizers.rs
Labels: crate: database, enhancement

#336 Support for Handwritten Messages
  .gitignore
  Cargo.lock
  docs/features.md
  imessage-database/Cargo.toml
  imessage-database/src/error/handwriting.rs
  imessage-database/src/error/mod.rs
  imessage-database/src/error/plist.rs
  imessage-database/src/message_types/handwriting.rs
  imessage-database/src/tables/messages/message.rs
  imessage-database/src/util/handwriting/handwriting.proto
  imessage-database/src/util/handwriting/handwriting.rs
  imessage-database/src/util/handwriting/mod.rs
  imessage-database/src/util/mod.rs
  imessage-database/test_data/handwritten_message/handwriting.bin
  imessage-exporter/src/app/attachment_manager.rs
  imessage-exporter/src/app/runtime.rs
  imessage-exporter/src/exporters/html.rs
  imessage-exporter/src/exporters/txt.rs
Labels: crate: database, crate: cli, txt, html, new feature

#340 Use Decoded Message Widths
  imessage-database/src/message_types/handwriting/models.rs
  imessage-database/test_data/handwritten_message/handwriting.bin
  imessage-database/test_data/handwritten_message/handwriting.svg
  imessage-database/test_data/handwritten_message/hello.svg
  imessage-database/test_data/handwritten_message/pollock.svg
  imessage-database/test_data/handwritten_message/test.svg
Labels: crate: database, enhancement

#339 Feat/cs/support handwritten messages
  Cargo.lock
  README.md
  docs/faq.md
  docs/features.md
  imessage-database/Cargo.toml
  imessage-database/build.rs
  imessage-database/src/error/handwriting.rs
  imessage-database/src/error/mod.rs
  imessage-database/src/error/plist.rs
  imessage-database/src/message_types/app.rs
  imessage-database/src/message_types/handwriting.rs
  imessage-database/src/message_types/handwriting/handwriting.proto
  imessage-database/src/message_types/handwriting/handwriting_proto.rs
  imessage-database/src/message_types/handwriting/mod.rs
  imessage-database/src/message_types/handwriting/models.rs
  imessage-database/src/tables/handle.rs
  imessage-database/src/tables/messages/message.rs
  imessage-database/test_data/handwritten_message/handwriting.ascii
  imessage-database/test_data/handwritten_message/handwriting.bin
  imessage-database/test_data/handwritten_message/handwriting.svg
  imessage-database/test_data/handwritten_message/handwriting_half.ascii
  imessage-database/test_data/handwritten_message/hello.ascii
  imessage-database/test_data/handwritten_message/hello.bin
  imessage-database/test_data/handwritten_message/hello.svg
  imessage-database/test_data/handwritten_message/pollock.ascii
  imessage-database/test_data/handwritten_message/pollock.bin
  imessage-database/test_data/handwritten_message/pollock.svg
  imessage-database/test_data/handwritten_message/test.ascii
  imessage-database/test_data/handwritten_message/test.bin
  imessage-database/test_data/handwritten_message/test.svg
  imessage-exporter/Cargo.toml
  imessage-exporter/src/app/attachment_manager.rs
  imessage-exporter/src/app/runtime.rs
  imessage-exporter/src/exporters/exporter.rs
  imessage-exporter/src/exporters/html.rs
  imessage-exporter/src/exporters/resources/style.css
  imessage-exporter/src/exporters/txt.rs
Labels: bug, crate: database, crate: cli, table, txt, html, new feature

#341 Feat/cs/support emoji reactions
  README.md
  docs/faq.md
  docs/features.md
  imessage-database/src/message_types/variants.rs
  imessage-database/src/tables/messages/body.rs
  imessage-database/src/tables/messages/message.rs
  imessage-database/src/tables/messages/models.rs
  imessage-database/src/util/typedstream/tests/test_parser.rs
  imessage-database/test_data/typedstream/CustomReaction
  imessage-exporter/src/app/runtime.rs
  imessage-exporter/src/exporters/exporter.rs
  imessage-exporter/src/exporters/html.rs
  imessage-exporter/src/exporters/resources/example.html
  imessage-exporter/src/exporters/resources/style.css
  imessage-exporter/src/exporters/txt.rs
Labels: crate: database, crate: cli, txt, html, new feature

#342 Feat/cs/support text effects
  README.md
  docs/features.md
  imessage-database/src/message_types/edited.rs
  imessage-database/src/message_types/text_effects.rs
  imessage-database/src/tables/messages/body.rs
  imessage-database/src/tables/messages/message.rs
  imessage-database/src/util/typedstream/models.rs
  imessage-database/src/util/typedstream/parser.rs
  imessage-database/src/util/typedstream/tests/test_parser.rs
  imessage-database/test_data/typedstream/TextEffects
  imessage-database/test_data/typedstream/TextStyles
  imessage-database/test_data/typedstream/TextStylesMixed
  imessage-database/test_data/typedstream/TextStylesSingleRange
  imessage-exporter/src/exporters/html.rs
  imessage-exporter/src/exporters/resources/style.css
Labels: documentation, crate: database, crate: cli, table, html, new feature

#345 Add animation docs
  imessage-database/src/message_types/text_effects.rs
Labels: documentation

#343 Prickly Pear
  Cargo.lock
  README.md
  docs/faq.md
  docs/features.md
  imessage-database/Cargo.toml
  imessage-database/build.rs
  imessage-database/src/error/handwriting.rs
  imessage-database/src/error/mod.rs
  imessage-database/src/error/plist.rs
  imessage-database/src/message_types/app.rs
  imessage-database/src/message_types/edited.rs
  imessage-database/src/message_types/handwriting.rs
  imessage-database/src/message_types/handwriting/handwriting.proto
  imessage-database/src/message_types/handwriting/handwriting_proto.rs
  imessage-database/src/message_types/handwriting/mod.rs
  imessage-database/src/message_types/handwriting/models.rs
  imessage-database/src/message_types/text_effects.rs
  imessage-database/src/message_types/variants.rs
  imessage-database/src/tables/chat_handle.rs
  imessage-database/src/tables/handle.rs
  imessage-database/src/tables/messages/body.rs
  imessage-database/src/tables/messages/message.rs
  imessage-database/src/tables/messages/models.rs
  imessage-database/src/util/typedstream/models.rs
  imessage-database/src/util/typedstream/parser.rs
  imessage-database/src/util/typedstream/tests/test_parser.rs
  imessage-database/test_data/handwritten_message/handwriting.ascii
  imessage-database/test_data/handwritten_message/handwriting.bin
  imessage-database/test_data/handwritten_message/handwriting.svg
  imessage-database/test_data/handwritten_message/handwriting_half.ascii
  imessage-database/test_data/handwritten_message/hello.ascii
  imessage-database/test_data/handwritten_message/hello.bin
  imessage-database/test_data/handwritten_message/hello.svg
  imessage-database/test_data/handwritten_message/pollock.ascii
  imessage-database/test_data/handwritten_message/pollock.bin
  imessage-database/test_data/handwritten_message/pollock.svg
  imessage-database/test_data/handwritten_message/test.ascii
  imessage-database/test_data/handwritten_message/test.bin
  imessage-database/test_data/handwritten_message/test.svg
  imessage-database/test_data/typedstream/CustomReaction
  imessage-database/test_data/typedstream/TextEffects
  imessage-database/test_data/typedstream/TextStyles
  imessage-database/test_data/typedstream/TextStylesMixed
  imessage-database/test_data/typedstream/TextStylesSingleRange
  imessage-exporter/Cargo.toml
  imessage-exporter/README.md
  imessage-exporter/src/app/attachment_manager.rs
  imessage-exporter/src/app/converter.rs
  imessage-exporter/src/app/error.rs
  imessage-exporter/src/app/options.rs
  imessage-exporter/src/app/runtime.rs
  imessage-exporter/src/app/sanitizers.rs
  imessage-exporter/src/exporters/exporter.rs
  imessage-exporter/src/exporters/html.rs
  imessage-exporter/src/exporters/resources/example.html
  imessage-exporter/src/exporters/resources/style.css
  imessage-exporter/src/exporters/txt.rs
  imessage-exporter/src/main.rs
Labels: release
